body {
  background-image: url("https://klike.net/uploads/posts/2019-05/1559024484_13.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

@font-face {
 font-family: Pompadur; /* Гарнитура шрифта */
 src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
}
#hel, #black, #club, #hel2, #no, #pravila {
 font-family: Pompadur, 'Comic Sans MS', cursive;
}

footer {
  background-color: #4287f5;
}

nav > ul > li > a {
  color: black;
  font-size: 30px;
  background-color: #356fcc;
}

nav > ul > li > a:hover {
  background-color: #4287f5;
}

#dis {
    background-color: #4287f5;
    color: black;
}

.row {
   margin-right: 0px !important
}
